body{
	margin: 0px;
}

.title{
	font-size: 80px;
}



.yt_video_1{
	position: relative;
	left: 1200px;
	bottom: 300px;

}

body{
  margin-left: 10px;
}


.fa {
    padding: 7px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 23px 2px;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: aliceblue;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

body {
  width: 100%;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #020488;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}



.left{
  float: left;
}


.right{
  float: left;
}

.modal-container{
  padding-left: 40%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: 0.3s ease;
}

.content_wrapper{
	padding-right: 100px;
	padding-bottom: 100px;
	background-color: #adadad;
	max-width: 50%;
}

.content_wrapper p{
	font-size: large;
}


.fa {
	  padding: 10px;
	  font-size: 30px;
	  width: 30px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	position: relative;
	left: 1200px;
	bottom: 70px;
	}
 
	.fa:hover {
		opacity: 0.7;
	}
 
	.fa-facebook {
	  background: #0003A6;
	  color: white;
	}
 
	.fa-twitter {
	  background: #0003A6;
	  color: white;
	}
 
	.fa-youtube {
	  background: #0003A6;
	  color: white;
	}
 
	.fa-instagram {
	  background: #0003A6;
	  color: white;
	}
 
	.fa-snapchat-ghost {
	  background: #0003A6;
	  color: white;
	  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
